<template>

    <div class="d-flex flex-row justify-content-between mb-3">

        <div class="price p-4 align-content-center">
            <img :src="item.images.m">
            <!-- Change the `data-field` of buttons and `name` of input field's for multiple plus minus buttons-->
            <div class="input-group plus-minus-input">
                <div class="input-group-button">
                    <button type="button" class="button hollow circle" data-quantity="minus" @click="ratingMinus"
                            data-field="quantity">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                </div>
                <input class="input-group-field" type="number" name="quantity" :value="item.rating" disabled>
                <div class="input-group-button">
                    <button type="button" class="button hollow circle" data-quantity="plus" @click="ratingPlus"
                            data-field="quantity">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column p-3" style="width: 72%;">
            <p class="mb-1">{{ item.title }} </p>
            <p class="mb-1">{{ item.author }} </p>
            <small class="text-muted">{{ item.published }}</small>
        </div>


    </div>

</template>

<script>


export default {
    props: ['item'],
    data: () => {
        return {
            resource_url: '/api/flickr/feed/rating',
        }
    },
    methods: {
        load() {


            axios.get(this.resource_url, this.params).then((response) => {
                this.results = response.data.data;
                this.links = response.data.links;
                this.loading = false;
            });


        },
        ratingMinus() {

            if (this.item.rating != 0) {
                this.item.rating--;
            }
        },
        ratingPlus() {

            this.item.rating++;
        }
    },
    created() {

    },
    watch: {
        "item.rating": function ($new) {
            axios.post(this.resource_url, {
                'author_id': this.item.author_id,
                'date_taken': this.item.date_taken,
                'rating': this.item.rating,
            }).then((response) => {

            });
        }
    },

};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

body {
    background-color: #E7E9F5;
    font-family: 'Heebo', sans-serif
}

.card {
    width: 100%;
    border: none;
    border-radius: 20px
}

.form-control {
    border-radius: 7px;
    border: 1.5px solid #E3E6ED
}

input.form-control:focus {
    box-shadow: none;
    border: 1.5px solid #E3E6ED;
    background-color: #F7F8FD;
    letter-spacing: 1px
}

.btn-primary {
    background-color: #5878FF !important;
    border-radius: 7px
}

.btn-primary:focus {
    box-shadow: none
}

.text {
    font-size: 13px;
    color: #9CA1A4
}

.price {
    background: #F5F8FD;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 292px;
    text-align: center;
}

.flex-row {
    border: 1px solid #F2F2F4;
    border-radius: 10px;
    margin: 0 1px 0
}

.flex-column p {
    font-size: 14px
}

span.mb-2 {
    font-size: 12px;
    color: #8896BD
}

h5 span {
    color: #869099
}

@media screen and (max-width: 450px) {
    .card {
        display: flex;
        justify-content: center;
        text-align: center
    }

    .price {
        border: none;
        margin: 0 auto
    }
}


.plus-minus-input {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 13px;

}

.plus-minus-input .input-group-field {
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
    width: 50px;
}

.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.plus-minus-input .input-group-button .circle {
    border-radius: 100%;
    padding: 0.25em 0.8em;
}


</style>
