<template>
    <div>

        <div class="container d-flex justify-content-center">

            <div class="card p-4">

                <div class="input-group mb-3">

                    <input type="text" class="form-control" v-model="params.q" @keyup.13="search">

                    <div class="input-group-append">
                        <button class="btn btn-warning" :disabled="!request" @click="cancel">Cancel</button>
                        <button class="btn btn-primary" @click="search" :disabled="request">Search</button>
                    </div>
                </div>

                <div v-if="loading" class="container d-flex justify-content-center">Loading...</div>

                <div v-else class="container">

                    <div class="mb-4">
                        <router-link v-for="item in tags" :key="item.id"
                                     :to="{name:'finder-tag', params:{tag:item.name}}">
                        <span class="badge badge-info p-2 m-1">{{ item.name }} <i
                            class="text-warning">{{ item.count }}</i></span>
                        </router-link>
                    </div>

                    <flickr-feed-item v-for="item in results" :key="item.id" :item="item"></flickr-feed-item>

                </div>


            </div>


        </div>

    </div>

</template>

<script>


import FlickrFeedItem from "./FlickrFeedItem";

export default {
    components: {FlickrFeedItem},
    data: () => {

        return {
            resource_url: '/api/flickr/feed?delay=2',
            params: {
                q: ""
            },
            results: [],
            tags: [],
            request: null,
            loading: false,
        }
    },
    methods: {

        search() {

            if (this.request) this.cancel();

            this.$router.push({
                name: 'finder-tag',
                params: {tag: this.params.q}
            }).catch(err => {});

            this.load();
        },

        load() {

            if (this.params.q !== "" && this.$route.params.tag !== "") {

                const axiosSource = axios.CancelToken.source();
                this.request = {cancel: axiosSource.cancel};
                this.loading = true;

                axios
                    .get(this.resource_url, {cancelToken: axiosSource.token, params: this.params})
                    .then((response) => {
                        this.loading = false;
                        this.results = response.data.data;
                        this.tags = response.data.tags;
                        this.request = null;
                    })
                    .catch(function (err) {
                        if (axios.isCancel(err)) {
                            console.log("Request cancelled");
                        }
                    });

            } else {
                this.results = [];
                this.tags = [];
            }

        },
        cancel() {
            this.request.cancel();
            this.request = null;
            this.loading = false;
        },
    },
    watch: {
        $route(to, from) {
            this.params.q = this.$route.params.tag;
            this.load();
        },
        "params.q": function ($value) {
            if ($value === '') {
                this.results = [];
                this.tags = [];
            }
        }
    },

    created() {
        if (this.$route.params.tag !== undefined) {
            this.params.q = this.$route.params.tag;
            this.load();
        }
    }
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

body {
    background-color: #E7E9F5;
    font-family: 'Heebo', sans-serif
}

.card {
    width: 100%;
    border: none;
    border-radius: 20px
}

.form-control {
    border-radius: 7px;
    border: 1.5px solid #E3E6ED
}

input.form-control:focus {
    box-shadow: none;
    border: 1.5px solid #E3E6ED;
    background-color: #F7F8FD;
    letter-spacing: 1px
}

.btn-primary {
    background-color: #5878FF !important;
    border-radius: 7px
}

.btn-primary:focus {
    box-shadow: none
}

.text {
    font-size: 13px;
    color: #9CA1A4
}

.price {
    background: #F5F8FD;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 292px;
    text-align: center;
}

.flex-row {
    border: 1px solid #F2F2F4;
    border-radius: 10px;
    margin: 0 1px 0
}

.flex-column p {
    font-size: 14px
}

span.mb-2 {
    font-size: 12px;
    color: #8896BD
}

h5 span {
    color: #869099
}

@media screen and (max-width: 450px) {
    .card {
        display: flex;
        justify-content: center;
        text-align: center
    }

    .price {
        border: none;
        margin: 0 auto
    }
}


.plus-minus-input {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 13px;

}

.plus-minus-input .input-group-field {
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
    width: 50px;
}

.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.plus-minus-input .input-group-button .circle {
    border-radius: 100%;
    padding: 0.25em 0.8em;
}


</style>
